<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="report_viewer_uygulamasi.Properties.Settings.LH_ERPConnectionString"
            connectionString="Data Source=HAYDAR\SQLEXPRESS;Initial Catalog=LH_ERP;User ID=sa;Password=htlk8285@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>